i.icon{
	font-size: 2em;
}

.container.main {
	margin-top: 7.0em;
}

/*.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}*/